body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(250, 250, 250);
  
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  margin: 40px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 8px 12px rgba(24, 16, 16, 0.25);
  
}

.main-content {
  padding: 40px;
  border-top: 1px solid rgb(75, 70, 42);
  border-right: 1px solid rgb(74, 69, 42) ;
  border-bottom: 1px solid rgb(74, 69, 42) ;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(196, 189, 151);
  margin: 0;
}

 .position {
  font-size: 20px;
  font-weight: bold;
  color: rgb(74, 69, 42);
  margin: 15px 0;
}

.address ,
.date-of-birth {
   margin: 0 0 5px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid rgb(74, 69, 42) ;
  border-bottom: 1px solid rgb(74, 69, 42) ;
  color: rgb(196, 189, 151);
  padding: 5px;
  margin: 15px 0 0;

}

.list-item {
 list-style: auto;
 margin: 10px 25px 20px;
 font-weight: bold;
 
}

.project-list {
  font-weight: normal; 
  color: rgb(74, 69, 42);
}

.project-list-links {
  color: rgb(74, 69, 42);
  text-decoration: none;
}
.company-title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(74, 69, 42);
  margin: 10px 0;
}


.company-year {
  margin: 10px 5px;
  color: rgb(196, 189, 151);
}

.content-sharing {
  border-top: 2px dotted rgb(74, 69, 42);
}

.text-content {
  margin: 10px 5px;
  text-indent: 5px;
}

.sidebar {
  padding: 20px 15px;
  width: 350px;
  background-color: rgb(196, 189, 151);
  color: rgb(74, 69, 42);
  border: 1px solid rgb(74, 69, 42) ;
}

.user-photo {
  width: 350px;
}
.sidebar-title {
  font-size: 18px;
  font-weight: normal;
  background-color: rgb(74, 69, 42) ;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  margin: 10px 0 5px;
 
}
.contacts-link {
  color: rgb(74, 69, 42);
  text-decoration: none;
}

.sidebar-list {
  margin: 0 25px;
  list-style: disc;
 }
 .sidebar-list-item {
   color: #fff;
   margin: 5px 0;
 }
 .dots {
   color: rgb(196, 189, 151);
 }

.sidebar-li-text {
 
 margin: 5px 5px;
 color: rgb(74, 69, 42);

}
.sidebar-li-text-circle {
 width: 50px;
 color: rgb(74, 69, 42);
 }




